.box{
    background-color: #000;
    width:150px;
    height:0;
    margin:25px;
    animation-name: growing;  /* reference to the keyframe created below */
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* It encloses an animation with a starting and ending point */
/* It can also have an intermediate point */
@keyframes growing {
    from{
        height: 0;
    }
    to {
        height: 150px;
    }
}